* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.board-border {
    display: inline-block;
    border-style: inset;
    border-width: 1px;
    background-color: beige;
}

.board {
    display: grid;
    padding: 50px;
}

.easy {
    grid-template-columns: 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px;
}

.moderate {
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.hard {
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.cell {
    border-style: outset;
    border-width: 2px;
    background-color: grey;
}

.boom {
    border-style: inset;
    border-width: 2px;
    background-color: red;
}

.safe {
    border-style: inset;
    border-width: 2px;
    background-color: green;   
}

.flag {
    border-style: inset;
    border-width: 2px;
    background-color: yellow;
}